@model BitPazari.Model.Entities.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedComputerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedComputerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedIp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedIp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedComputerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedComputerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedIp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedIp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            <a href="javascript:void(0)" class="btn btn-warning" onclick="AddToMyCart(@Model.Id)">Add To Cart </a>
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{

    <script>
        function AddToMyCart(gid) {
            $.ajax({
                type: "get",
                url: '@Url.Action("Add","Member/Cart")',
                data: { id: gid },
                success: function () {

                }
            })
        }
    </script>

}