
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model IEnumerable<Category>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>
                <a href='@Url.Action("Add","Category")'><i class="glyphicon glyphicon-floppy-save"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a href='@Url.Action("Delete","Category",new {id=category.Id })'><i class="glyphicon glyphicon-remove"></i></a>
                    <a href='@Url.Action("Update","Category",new {id=category.Id })'><i class="glyphicon glyphicon-edit"></i></a>
                    

                </td>
            </tr>
        }
    </tbody>
</table>

